*{
    margin: auto 0;
}

.reservation{
    position: static;
    border: 1px solid #bbb;
    width: 1440px;
    height: 341px;
    left: 0px;
    top: 764px;
    background: #F5F5F5;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
boxes{
display: flex;
}

.reserve{
font-size: 40px;
line-height: 79px;
display: flex;
align-items: center;
justify-content: center;
color: #55A8AE;
}
.date{
    width: 92px;
    height: 24px;
    left: 53px;
    top: 906px;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    color: #4D4D4D;  
    margin-bottom: 70px;  
    width: 92px;
    
}
#check-in{
    width: 166px;
    height: 51px;
    left: 53px;
    top: 940px;
    background: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
}

.cars{
    width: 59px;
height: 24px;
left: 254px;
top: 906px;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #4D4D4D;
margin-bottom: 70px;
}
#cars-night{
    width: 108px;
height: 51px;
left: 254px;
top: 940px;
background: #FFFFFF;
}

.date1{
    width: 112px;
height: 24px;
left: 397px;
top: 906px;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #4D4D4D;
}
#check-out{
    width: 166px;
    height: 51px;
   left: 397px;
   top: 940px;
    background: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
}

.cars1{
    width: 59px;
height: 24px;
left: 602px;
top: 906px;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #4D4D4D;
}

#adult{
    width: 127px;
height: 51px;
left: 602px;
top: 940px;
background: #FFFFFF;
}

#children{
    width: 121px;
height: 51px;
left: 779px;
top: 940px;
background: #FFFFFF;
margin-right: 30px;
}

.check{
    width: 200px;
    height: 50px;
    left: 1000px;
    top: 925px;
    background: #55A8AE;
}

.person{
    width: 150px;
    height: 30px;
     left: 1038px;
    top: 949px;
    font-size: 1em;
    line-height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #FFFFFF;
}

/*pricing*/
.pricing {
border: 1px solid #bbb;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
}

.rooms{
    display: flex;
    align-items: center;
    justify-content: center;
width: 600px;
height: 50px;
font-size: 2em;
line-height: 79px;
color: #55A8AE;
}

.fact{
    width: 442px;
height: 36px;
left: 499px;
top: 1310px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
color: #4D4D4D;
}